<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>Este es un proyecto base realizado en Ionic con Angular,
          desarrollado por Jonathan David Espitia Rivera</ion-text>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon style="font-size: 120px;" color="primary" name="logo-ionic"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-title>
          Gracias por la oportunidad
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
